* {
    margin: 10px
}

h1 {
    text-align: center;
    white-space: nowrap;
    font-size: 1.7rem
}

h1:after {
    content: "";
    display: inline-block;
    width: 100%;
}

#pageTitle {
    font-family: Serif;
    font-size: xxx-large;
}


body {
    font-family: Arial, sans-serif;
    background-color: lightcyan;
    margin-top: 25px;
}

.mainButtons {
    display: flex;
    justify-content: center;
    margin: 15px 15px 10px 15px;
}

.searchField {
    width: 250px;
    height: 25px;
}

#searchSubmit {
    height: 31px;
    width: 75px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr {
    background-color: #ffffff;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 15px;
}

.mainButtons button {
    border: none;
}

.mainButtons button:hover {
    box-shadow: 0 9px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#searchForm input {
    margin: 0
}

label {
    margin: 0
}

#nameSortArrow, button {
    cursor: pointer;
}

/*remove increment arrows in search field*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modalInner {
    display:flex;
    background-color: lightyellow;
    text-align: center;
    position: fixed;
    flex-direction: column;
    border-radius: 30px;
    align-items: center;
    border-style: solid;
    border-color: #ffdfb8;
    border-width: 3px;
}

.modalInner, #addFruitForm {
    width: 550px;
    height: 620px
}

.modal-inner h2 {
    margin: 0;
}

.modal-inner p {
    margin: 10px 0;
    font-size: .9em;
}

.modal {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    opacity: 1;
    z-index: 999;
}

.modal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
    z-index: -1;
}

#addFruitForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inputField {
    width: 200px;
    margin-right: 60px;
}

.addFruitInput {
    margin: 0;
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.addFruitInputLabel {
    width: 100px;
    text-align: left;
    margin: auto 0 auto 60px;
    font-size: 1.15em;
}


#addFruitSubmit {
    width: 35%;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}


#addFruitModalTitle {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 2.25em;
}

.closeModalButton {
    margin-left: auto;
    margin-right: 20px;
    padding: 3px 6px 3px 6px;
    border-radius: 7px;
    border-style: solid;
    border-color: #bbbbbb;
}

.fruitIcon {
    display: inline-block;
    vertical-align: middle;
    transition: transform 0.2s ease-in-out;
    font-size: 1.5em;
}

.fruitIcon:hover {
    transform: scale(1.7);
    cursor: pointer;
    position:relative;
}

#inputHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#searchErrorMessage {
    color: red;
    font-weight: 900;
    visibility: hidden;
}