* {
    margin: 10px
}

h1 {
    text-align: justify;
}

h1:after {
    content: "";
    display: inline-block;
    width: 100%;
}

#pageTitle {
    font-family: Serif;
    font-size: xxx-large;
}


body {
    font-family: Arial, sans-serif;
    background-color: lightcyan;
}

div {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.searchField {
    width: 250px;
    height: 25px;
}

#searchSubmit {
    height: 31px;
    width: 75px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr {
    background-color: #ffffff;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 15px;
}

input {
    margin: 0
}

label {
    margin: 0
}

#nameSortArrow, button {
    cursor: pointer;
}

/*remove increment arrows in search field*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}